# This is the last version of GitPython that still works with Python 2.7
GitPython==2.1.8
# Newer versions of gitdb2 require Python 3.x - not everything has been pulled-up to 3.x
gitdb2<=2.0.6
mercurial
